/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	header{
		padding: 5px 0;
	}
	.logo{
		width: 170px;
	}
	.menu ul li a{
		margin-bottom: 5px;
		padding: 0 10px !important;
	}
	.btn_sign {
	    padding: 5px 15px;
	    width: 85px;
	    height: 37px;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 15px 0 60px;
	}
	.b_text{
		text-align: center;
	}
	.b_p_one{	
		line-height: 20px;
	}
	.b_h_one {
		margin: 10px 0;
	    font-size: 25px;
	    line-height: 30px;
	}
	.b_p_two{
		padding: 0;
		line-height: 24px;
	}
	.btn_banner {
	    padding: 10px 22px;
	    width: 135px;
	    height: 38px;
	}
	.b_img{
		margin-bottom: 30px;
		padding: 0 10px;
	}
	/*Banner end*/

	/*Feature start*/
	.feature{
		padding-top: 21px;
		padding-bottom: 70px;
	}
	.f_contant{
		margin-top: 24px;
		padding: 55px 30px;
	}
	.f_h2{
		font-size: 22px;
	}
	/*Feature end*/

	/*Course start*/
	.course{
		padding: 0 0 70px;
	}
	.title h1{
		font-size: 30px;
		line-height: 45px;
	}
	.course_content{
		margin-top: 30px;
		padding: 15px 15px 20px;
	}
	.course_h2{	
		font-size: 20px;
		line-height: 30px;	
	}
	.course_list{
		margin-right: 0 !important;
	}
	.calendar ul li img, .people ul li img{
		width: 20px;
	}
	.calendar ul li span,.people ul li span{
		font-size: 15px;
		font-weight: 400;
	}
	/*Course end*/

	/*Testimonial start*/
	.testimonial {
	    padding: 0 0 70px;
	}
	.title h1{
		font-size: 27px;
		line-height: 30px;
	}
	.t_img {
		margin: 10px auto;
	    width: 135px;
	    height: 135px;
	}
	.t_item{
		margin-top: 30px;
	}
	.t_item p{
		text-align: center;
		line-height: 24px;
	}
	/*Testimonial end*/

	/*contact start*/
	.contact {
	    padding: 50px 0 25px;
	    text-align: center;
	}
	.contact_para{
		margin-bottom: 30px;
		padding: 0;
		text-align: center;
	}
	.contact_para p{
		line-height: 20px;
	}
	.contact_list ul{
		padding: 0 0 30px;
	}
	.contact_listitem{
		margin-bottom: -18px;
	}
	/*contact end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.menu ul li a{
		margin-bottom: 5px;
		padding: 0 10px !important;
	}
	.btn_sign {
	    padding: 5px 15px;
	    width: 85px;
	    height: 37px;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 15px 0 60px;
	}
	.b_text{
		text-align: center;
	}
	.b_h_one {
		margin: 10px 0;
	    font-size: 27px;
	    line-height: 35px;
	}
	.b_p_two{
		padding: 0 52px;
		line-height: 28px;
	}
	.btn_banner {
	    padding: 12px 28px;
	    width: 145px;
	    height: 40px;
	}
	.b_img{
		margin-bottom: 40px;
		padding: 0 80px;
	}
	/*Banner end*/

	/*Feature start*/
	.feature{
		padding-top: 21px;
		padding-bottom: 70px;
	}
	.f_contant{
		margin-top: 24px;
		padding: 55px 30px;
	}
	/*Feature end*/

	/*Course start*/
	.course{
		padding: 0 0 70px;
	}
	.course_padding{
		padding: 0 100px;
	}
	.title h1{
		font-size: 30px;
		line-height: 45px;
	}
	.course_content{
		margin-top: 30px;
		padding: 15px 15px 20px;
	}
	.course_h2{	
		font-size: 20px;
		line-height: 30px;	
	}
	.course_list{
		margin-right: 0 !important;
	}
	.calendar ul li img, .people ul li img{
		width: 20px;
	}
	.calendar ul li span,.people ul li span{
		font-size: 15px;
		font-weight: 400;
	}
	/*Course end*/

	/*Testimonial start*/
	.testimonial {
	    padding: 0 0 70px;
	}
	.t_img {
		margin: 10px auto;
	    width: 140px;
	    height: 140px;
	}
	.t_item{
		margin-top: 35px;
	}
	.t_item p{
		text-align: center;
		line-height: 26px;
	}
	/*Testimonial end*/

	/*contact start*/
	.contact {
	    padding: 50px 0 25px;
	}
	.contact_para{
		margin-bottom: 30px;
		padding: 0 75px;
		text-align: center;
	}
	.contact_para p{
		line-height: 20px;
	}
	.contact_list{
		text-align: center;
	}
	.contact_list ul{
		padding: 0 0 35px;
	}	
	/*contact end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.menu ul li a{
		margin-bottom: 10px;
		padding: 0 10px !important;
	}
	.btn_sign {
	    padding: 5px 15px;
	    width: 85px;
	    height: 37px;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 15px 0 60px;
	}
	.b_text{
		text-align: center;
	}
	.b_h_one {
		margin: 10px 0;
	    font-size: 35px;
	    line-height: 50px;
	}
	.b_p_two{
		padding: 0 100px;
		line-height: 30px;
	}
	.b_img{
		margin-bottom: 50px;
		padding: 0 120px;
	}
	/*Banner end*/

	/*Feature start*/
	.feature{
		padding-top: 21px;
		padding-bottom: 80px;
	}
	.f_contant{
		margin-top: 24px;
	}
	/*Feature end*/

	/*Course start*/
	.course{
		padding: 0 0 80px;
	}
	.course_padding{
		padding: 0 150px;
	}
	.course_content{
		margin-top: 40px;
	}
	/*Course end*/

	/*Testimonial start*/
	.testimonial {
	    padding: 0 0 80px;
	}
	.t_item{
		margin-top: 40px;
	}
	.t_item p {
	    padding-right: 20px;
	    text-align: center;
	    line-height: 26px;
	}
	/*Testimonial end*/

	/*contact start*/
	.contact_para{
		margin-bottom: 35px;
		padding: 0 75px;
		text-align: center;
	}
	.contact_para p{
		line-height: 25px;
	}
	.contact_list{
		text-align: center;
	}
	.contact_list ul{
		padding: 0 0 45px;
	}
	
	/*contact end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Feature start*/
	.f_contant{
		padding: 35px 15px;
		min-height: 230px;
	}
	/*Feature end*/

	/*Courses start*/
	.course_content{
		padding: 20px 18px 25px;
	}
	.course_list{
		margin-right: -1px !important;
	}
	.calendar ul li img, .people ul li img{
		width: 20px;
	}
	.calendar ul li span,.people ul li span{
		font-size: 15px;
		font-weight: 400;
	}
	/*Courses end*/

	/*Testimonial start*/
	.t_img {
	    margin-top: 15px;
	}
	/*Testimonial end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Feature start*/
	.f_contant{
		padding: 55px 36px;
	}
	/*Feature end*/

	/*Courses start*/
	.course_list{
		margin-right: 0 !important;
	}
	.calendar ul li img, .people ul li img{
		width: 22px;
	}
	/*Courses end*/

	/*Testimonial start*/
	.t_img {
	    margin-top: 12px;
	}
	/*Testimonial end*/
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Banner start*/
	.b_text{
		margin-top: 45px;
	}
	/*Banner end*/
	/*Feature start*/
	.f_contant{
		padding: 72px 55px;
	}
	/*Feature end*/
}