@font-face{
	/*src: url(../fonts/Poppins-Medium.otf);
	font-family: Poppins-Medium;*/
	src: url(../fonts/Poppins-Regular.otf);
	font-family: Poppins-Regular;
	
}

/*Common CSS start*/
body{
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
/*Common CSS end*/

/*Header start*/
header{
	padding: 10px 0;
	background-color: #F0FFF0;
}
.logo{
	width: 195px;
}
.menu ul li a{
	padding: 0 25px !important;
	font-weight: 400;
	font-size: 16px;
	color: #000000 !important;
	line-height: 24px;
}
.menu ul li a:hover{
	color: #FD511A !important;
}
@font-face{
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: Roboto-Regular;
}
.btn_common{
	font-family: Roboto-Regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #FFFFFF !important;
	background-color: #21B573 !important;
	border-radius: 33px;
	transition: .3s ease-in-out;
}

.btn_sign{
	padding: 12px 25px;
	margin-left: 5px;
	width: 105px;
	height: 45px;
}
.btn_common:hover{
	background-color: #FD511A !important;
}
/*Header end*/

/*Banner CSS start*/
.banner{
	padding: 30px 0 60px;
	background-color: #F0FFF0;
}
.b_text{}
.b_p_one{	
	color: #FD511A;
	line-height: 24px;
}
@font-face{
	src: url(../fonts/Poppins-Bold.otf);
	font-family: Poppins-Bold;
}
.b_h_one{
	margin: 10px 0 19px;
	font-family: Poppins-Bold;
	font-size: 48px;
	font-weight: 700;	
	line-height: 70px;
	letter-spacing: 2px;
}
.b_h_one span{
	color: #21B573;
}
.b_p_two{
	line-height: 36px;
}
.btn_banner{
	margin-top: 14px;
	padding: 12px 35px;
	width: 153px;
	height: 43px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #000000;
}
.b_img{}
.b_img img{}

/*Banner CSS end*/

/*Feature CSS start*/
.feature{
	padding-top: 45px;
	padding-bottom: 100px;
}
.f_contant{
	padding: 55px;
	width: 100%;
	min-height: 270px;
	background-color: #F0FFF0;
	border-radius: 10px;
	text-align: center;
	transition: .3s ease-in-out;
}
.f_contant:hover{
	background: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.f_img{
	margin-bottom: 22px;
}
.f_img img{}
@font-face{
	src: url(../fonts/Poppins-Medium.otf);
	font-family: Poppins-Medium;
}
.f_h2{
	font-family: Poppins-Medium;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
}
.f_p{
	line-height: 24px;
}
/*Feature CSS end*/

/*Course CSS start*/
/*Course CSS end*/

/*Testimonial start*/
.testimonial{
	padding: 0 0 100px;
}
.title{
	margin-bottom: 65px;
}
.title h1{
	font-family: Poppins-Bold;
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	text-align: center;
}
.t_content{}
.test_img{
	margin: -6px auto 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.test_img img{}
.t_comment{}
.t_comment p{
	font-weight: 400;
	line-height: 30px;
}
/*Testimonial end*/

/*Footer start*/
footer{
	padding: 55px 0 30px;
	color: #ffffff;
	background-color: #282531;
}
.footer_para{
	padding: 0 28px;
}
.footer_para p{
	line-height: 30px;
}
.footer_h2{
	font-family: Poppins-Bold;
	font-size: 18px;
	font-weight: 700;	
	line-height: 30px;
}
.footer_list{}
.footer_list ul{
	padding: 0 0 75px;
	list-style: none;
}
@font-face{
	src: url(../fonts/Poppins-Regular.otf);
	font-family: Poppins-Regular;	
}

.footer_list ul li a{
	font-family: Poppins-regular;
	color: #ffffff;
	text-decoration: none;
}
.footer_listitem{
	font-family: Poppins-regular;
	font-size: 16px;
}
.footer_last{
	font-family: Poppins-regular;
	font-size: 16px;
	color: #CDCDCD;
	text-align: center;
}
/*Footer end*/