@font-face{
	/*src: url(../fonts/Poppins-Medium.otf);
	font-family: Poppins-Medium;*/
	src: url(../fonts/Poppins-Regular.otf);
	font-family: Poppins-Regular;
	
}

/*Common CSS start*/
body{
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
/*Common CSS end*/

/*Header start*/
header{
	padding: 10px 0;
	background-color: #F0FFF0;
}
.logo{
	width: 195px;
}
.menu ul li a{
	padding: 0 25px !important;
	font-weight: 400;
	font-size: 16px;
	color: #000000 !important;
	line-height: 24px;
}
.menu ul li a:hover{
	color: #FD511A !important;
}
@font-face{
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: Roboto-Regular;
}
.btn_common{
	font-family: Roboto-Regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #FFFFFF !important;
	background-color: #21B573 !important;
	border-radius: 33px;
	transition: .3s ease-in-out;
}

.btn_sign{
	padding: 12px 25px;
	margin-left: 5px;
	width: 105px;
	height: 45px;
}
.btn_common:hover{
	background-color: #FD511A !important;
}
/*Header end*/

/*Banner CSS start*/
.banner{
	padding: 30px 0 60px;
	background-color: #F0FFF0;
}
.b_text{}
.b_p_one{	
	color: #FD511A;
	line-height: 24px;
}
@font-face{
	src: url(../fonts/Poppins-Bold.otf);
	font-family: Poppins-Bold;
}
.b_h_one{
	margin: 10px 0 19px;
	font-family: Poppins-Bold;
	font-size: 48px;
	font-weight: 700;	
	line-height: 70px;
	letter-spacing: 2px;
}
.b_h_one span{
	color: #21B573;
}
.b_p_two{
	line-height: 36px;
}
.btn_banner{
	margin-top: 14px;
	padding: 12px 35px;
	width: 153px;
	height: 43px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #000000;
}
.b_img{}
.b_img img{}

/*Banner CSS end*/